.navbar {
  background-color:chartreuse;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 15px;
}
#header {
  background-color: blue;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}
#who-we-are {
  text-align: center;
  padding: 30px 100px;
}
#read-more {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  border: 2px solid teal;
}
#read-more:hover {
  background-color: teal;
  cursor: pointer;
  color: white;
}
#gallery-title{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
}
#card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px 100px;
}
.card {
  height: 50vh;
  border-right: 1px solid #000;
  text-align: center;
}
.card.img{
  height: 80%;
}
.card:hover{
  background-color: green;
  font-size: 50px;
  border-right: 5px solid yellowgreen;
  box-shadow: 0px 7px 8px 5px blue ;
}
footer {
  background-color: coral;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.footer-left {
  border-right: 3px solid wheat;
  margin-right: 15px;
}
.footer-left h3 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
footer form {
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 15px;
}
form h3{
  color: aliceblue;
  font-size: 25px;
}
form input,button{
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
}
form button{
  background-color: aqua;
  font-size: 20px;
}
.footer-left p,a{
  color: yellow;
}